[MESSAGES CONTROL]
disable=
    bad-option-value,
    fixme,  # Allow FIXMEs in code is a useful practice
    import-outside-toplevel,  # Done on purpose to reduce overhead at startup
    missing-docstring,  # This should be fixed
    old-style-class,
    too-few-public-methods,
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
max-line-length=160
